.DS_Store
node_modules/
/.cache
/build
/server-build
/public/build
/coverage
.build
.cache
package-lock.json
pnpm-lock.yaml
result
.logs
.pnpm-workspace.yaml
.next
*.yaml
*.yml
dist
!packages/graphql-config/dist
.dist
/apps/hasura/
!.github/workflows/*.yml
!.github/workflows/*.yaml
!pnpm-workspace.yaml
**/dist/**
dist
logs
*.toml